
@tailwind base;
@tailwind components;
@tailwind utilities;





.scrollbar-hide {
  /* Ocultar la barra de desplazamiento en todos los navegadores */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  /* Ocultar la barra de desplazamiento en WebKit */
  &::-webkit-scrollbar {
    display: none;
  }
}

